HELP.md
target/

# CRITICAL FOR CI: Do not ignore the Maven Wrapper files!

!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

!/src/main//target/
!/src/test//target/
target/out/build/bin/

# STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA

.idea
*.iws
*.iml
*.ipr

# NetBeans

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!/src/main//build/
!/src/test//build/
*.log
logs/
.DS_Store
Thumbs.db

# VS Code

.vscode/

# Secrets and Environment Variables

.env
*.env